<template name="healthHistory">
    <h2>Health History</h2>

    <h4>Personal Health Conditions</h4>
    <table id="userConditions" class="table table-hover">
        <thead>
        <tr>
            <th>Condition</th>
            <th>Notes</th>
        </tr>
        </thead>
        <tbody>
        {{#each currentUser.profile.conditions}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.notes}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>

    <h4>Family Health Conditions</h4>
    <table id="familyConditions" class="table table-hover">
        <thead>
        <tr>
            <th>Condition</th>
            <th>Number of Occurrences</th>
        </tr>
        </thead>
        <tbody>
        {{#each familyCondition}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.count}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</template>