<template name="healthHistory">
    <h2>Health History</h2>

    <h4>Personal Health Conditions</h4>
    <table id="personalHealthConditions" class="table table-hover">
        <thead>
        <tr>
            <th>Health Condition</th>
            <th>Notes</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>

    <h4>Family Health Conditions</h4>
    <table id="familyHealthConditions" class="table table-hover">
        <thead>
        <tr>
            <th>Health Condition</th>
            <th>Occurances</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</template>