<template name="profile">
    <div class="container">
        <div id="profileHeader">
            <h1>Personal Information</h1>
        </div>

        <div id="personalInfo">
            <p>Username: {{currentUser.username}}</p>
            <p>Email: {{currentUser.email}}</p>
            <p>First Name: {{currentUser.firstName}}</p>
            <p>Last Name: {{currentUser.lastName}}</p>
            <p>Middle Name: {{currentUser.middleName}}</p>
            <p>Gender: {{currentUser.gender}}</p>
            <p>Date of Birth: {{currentUser.DOB}}</p>
            <p>Health Conditions:</p>
            <p>Family:</p>

        </div>

        <div id="editProfile">
            <a href="{{pathFor 'profileEdit'}}"><button class="btn btn-primary">Edit Profile</button></a>
        </div>
    </div>
</template>