<template name="profileEdit">
    <form role="form" name="userForm">
        <div class="form-group">
            <label for="userName">Email Address:</label>
            <input type="text" class="form-control" id="email">
        </div>
        <div class="form-group">
            <label for="fName">First Name:</label>
            <input type="text" class="form-control" id="fName">
        </div>
        <div class="form-group">
            <label for="lName">Last Name:</label>
            <input type="text" class="form-control" id="lName">
        </div>
        <div class="form-group">
            <label for="mName">Middle Name:</label>
            <input type="text" class="form-control" id="mName">
        </div>
        <div class="form-group">
            <label for="gender">Gender:</label>
            <input type="radio" name="gender" id="m"><label for="m">Male</label>
            <input type="radio" name="gender" id="f"> <label for="f">Female</label>
        </div>
        <div class="form-group">
            <label for="DOB">Date of Birth:</label>
            <input type="text" class="form-control" id="DOB" placeholder="DD/MM/YYYY">
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-default" onClick="window.location.reload()">Cancel</button>
    </form>
</template>