<template name="profile">
    <div class="container">
        <div id="profileHeader">
            <h1>Personal Information</h1>
        </div>

        <div id="personalInfo">
            <p>Email: {{currentUser.emails.[0].address}}</p>
            <p>First Name: {{currentUser.profile.firstName}}</p>
            <p>Last Name: {{currentUser.profile.lastName}}</p>
            <p>Middle Name: {{currentUser.profile.middleName}}</p>
            <p>Gender: {{currentUser.profile.gender}}</p>
            <p>Date of Birth: {{currentUser.profile.DOB}}</p>
            <p>Health Conditions:
                {{#each currentUser.profile.conditions}}
                    <div id="{{this.name}}"><strong>{{this.name}}</strong>
                        <input type="image" width="22px" height="22px" src="img/redX.png" alt="deleteCondition" id="deleteCondition"/>
                    </div>
                {{/each}}
            </p>
            <p>Family:</p>

        </div>

        <div id="editProfile" class="col-md-1">
            <a href="{{pathFor 'profileEdit'}}"><button class="btn btn-primary">Edit Profile</button></a>
        </div>
        <div class="col-md-2">
            <button id="addHealthCondition" class="btn btn-success">Add Health Condition</button>
        </div>
        <div id ="showHealthConditionText" class="col-md-4">
            {{#if showHealthConditionText}}
                {{> addHealthConditions}}
            {{/if}}
        </div>
    </div>
</template>