<template name="profileEdit">
    <p class="alert-success">Welcome to your profile page! Please take some time and fill out your personal information.</p>
    <p><strong><span style="color:red">*</span> Indicators required feilds</strong></p>
    <form role="form" name="userForm">

        <div class="form-group {{errorClass 'email'}}">
            <label for="userName">Email Address<span style="color:red">*</span></label>
            <input type="text" class="form-control" id="email" value="{{currentUser.emails.[0].address}}">
            <span class="help-block">{{errorMessage 'email'}}</span>
        </div>

        <div class="form-group {{errorClass 'firstName'}}">
            <label for="fName">First Name<span style="color:red">*</span></label>
            <input type="text" class="form-control" id="fName" value="{{currentUser.profile.firstName}}">
            <span class="help-block">{{errorMessage 'firstName'}}</span>
        </div>

        <div class="form-group {{errorClass 'lastName'}}">
            <label for="lName">Last Name<span style="color:red">*</span></label>
            <input type="text" class="form-control" id="lName" value="{{currentUser.profile.lastName}}">
            <span class="help-block">{{errorMessage 'lastName'}}</span>
        </div>

        <div class="form-group">
            <label for="mName">Middle Name</label>
            <input type="text" class="form-control" id="mName" value="{{currentUser.profile.middleName}}">
        </div>

        <div class="form-group">
            <label for="Name">Gender<span style="color:red">*</span></label>
            <select id ="selectGender" class="selectpicker">
                <option>Male</option>
                <option>Female</option>
            </select>
        </div>

        <div class="form-group {{errorClass 'DOB'}}">
            <label for="DOB">Date of Birth<span style="color:red">*</span></label>
            <input type="text" class="form-control" id="DOB" placeholder="MM/DD/YYYY" value="{{currentUser.profile.DOB}}">
            <span class="help-block">{{errorMessage 'DOB'}}</span>
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</template>