<template name="profileEdit">
    <form role="form" name="userForm">
        <div class="form-group">
            <label for="userName">Email Address:</label>
            <input type="text" class="form-control" id="email" value="{{currentUser.emails.[0].address}}">
        </div>
        <div class="form-group">
            <label for="fName">First Name:</label>
            <input type="text" class="form-control" id="fName" value="{{currentUser.profile.firstName}}">
        </div>
        <div class="form-group">
            <label for="lName">Last Name:</label>
            <input type="text" class="form-control" id="lName" value="{{currentUser.profile.lastName}}">
        </div>
        <div class="form-group">
            <label for="mName">Middle Name:</label>
            <input type="text" class="form-control" id="mName" value="{{currentUser.profile.middleName}}">
        </div>

        <div class="form-group">
            <label for="Name">Gender:</label>
            <select id ="selectGender" class="selectpicker">
                <option>Male</option>
                <option>Female</option>
            </select>
        </div>

        <div class="form-group">
            <label for="DOB">Date of Birth:</label>
            <input type="text" class="form-control" id="DOB" placeholder="DD/MM/YYYY" value="{{currentUser.profile.DOB}}">
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="submit" class="btn btn-default" id="cancelEdit">Cancel</button>
    </form>
</template>