<template name="familyConditionsList">
    <div class="table-responsive">
        <h3>Family Health Conditions</h3>
        <table id="familyConditionsTable" class="table table-hover">
            <thead>
            <tr>
                <th>Condition</th>
                <th>Number of Occurrences</th>
            </tr>
            </thead>
            <tbody>
            {{#each familyCondition}}
                <tr id="row">
                    <td>{{this.name}}</td>
                    <td id="count">{{this.count}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</template>