<template name="familyConditionsList">
    <div class="table-responsive">
        <table id="familyConditions" class="table">
            <thead>
            <tr>
                <th>Condition</th>
                <th>Number of Occurrences</th>
            </tr>
            </thead>
            <tbody>
            {{#each familyCondition}}
                    <tr>
                        <td>{{this.name}}</td>
                        <td>{{this.count}}</td>
                    </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</template>