<template name="familyMemberList">
    <div class="table">

        <table id="familyMemberTable" class="table table-hover">
            <thead>
            <tr>
                <th>Name</th>
                <th>Relation</th>
            </tr>
            </thead>
            <tbody>
            {{#each familyMembers}}
                <tr>
                    <td id="name">{{this.name}}</td>
                    <td id="relation">{{> relation}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
    <br />
</template>
