<template name="familyMemberList">
    <div class="table">
        <table id="familyMemberTable" class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Relation</th>
            </tr>
            </thead>
            <tbody>
            {{#each familyMembers}}
                {{#each name}}
                    <tr>
                        <td>{{this.name}}</td>
                        <td>{{> relation}}</td>
                    </tr>
                {{/each}}
            {{/each}}
            </tbody>
        </table>
    </div>
    <br />
</template>
