<template name="relation">
    <select id ="selectRelation" class="selectpicker">
        <option>Self</option>
        <option>Father</option>
        <option>Mother</option>
        <option>Brother</option>
        <option>Sister</option>
        <option>Cousin</option>
        <option>Aunt</option>
        <option>Uncle</option>
        <option>Grandfather</option>
        <option>Grandmother</option>
        <option>Great Aunt</option>
        <option>Great Uncle</option>
        <option>Great Grandfather</option>
        <option>Great Grandmother</option>
        <option>Other</option>
    </select>
</template>