/* CSS Document
This document is for the tree styling
Got most of it from http://www.jqueryrain.com/2013/03/jquery-horizontal-tree/
Modified it for my code (Anything that is in more of a block form, instead of a line form I modified
*/

* { margin:0; padding:0; }
body { background:white; }
.overflow {
    overflow:auto;
    position:relative;
}


ul.tree {
    display:block;
    font:12px Arial, Helvetica, sans-serif; color:#000;
    margin-bottom:10px;
}
ul.tree li { display:inline-block; text-align:center; margin:20px; vertical-align:top; }
ul.tree li.tnone { display:none; }
ul.tree ul.tshow { display:block!important; }

ul.tree li > div {
    display:inline-block;
    padding:15px;
    text-decoration:none;
    position:relative;
    min-width:140px;
    height:75px;
    z-index:2;
    background:white;
    color: lightslategray;
    font-weight:bold;
    border: 1px solid darkslategray;
    border-radius: 10px;
}

ul.tree li > div span { display: inline-block; margin: 0 2px;  }
ul.tree li > div.zindex { z-index:inherit; }

ul.tree li span.vertical, ul.tree li span.horizontal { display:inline-block; position:absolute; z-index:1; background:darkslategray; }
ul.tree li span.vertical { width:1px; }
ul.tree li span.horizontal { height:1px; }
ul.tree li b.thide { position:absolute; width:11px; height:12px; bottom:0; left:-17px; background:url(images/hide.png) no-repeat; cursor:pointer; }
ul.tree li b.thide.tshow { background:url(images/show.png) no-repeat; }
ul.tree li b.thide.tnone { display:none; }
ul.tree li span.add_action, ul.tree li span.edit_action, ul.tree li span.highlight, ul.tree li span.delete_action { position:absolute; width:10px; height:10px; cursor:pointer; display:none; padding:2px; background-color:#e02222; background-position:center; background-repeat:no-repeat; border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; }


div.drag_error, div.delete_msg, div.edit_msg, div.add_msg, div.drop_msg { position:absolute; color:#fff; position:absolute; right:10px; top:10px; padding:4px 10px; font:14px Arial, Helvetica, sans-serif; z-index:999; }
div.drag_error { background:#b41616; }
div.delete_msg { background:#b41616; }
div.edit_msg { background:#17A769; }
div.add_msg { background:#27A9E3; }
div.drop_msg { background:#852b99; }