/*
 * Main stylesheet
 */



body {
    background: white;
    color: #666666;
}


#main {
    position: relative;
}

#addCondition {
    width: 100%;
    text-align:center;
}

.errors{
    position: fixed;
    z-index: 10000;
    padding: 10px;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    pointer-events: none;
}
.alert {
    animation: fadeOut 2700ms ease-in 0s 1 forwards;
    -webkit-animation: fadeOut 2700ms ease-in 0s 1 forwards;
    -moz-animation: fadeOut 2700ms ease-in 0s 1 forwards;
    width: 250px;
    float: right;
    clear: both;
    margin-bottom: 5px;
    pointer-events: auto;
}

#mainImg img{
    width: 100%;
    height: 100%;
}

.jumbotron {
    background-color: white;
}

#personalInfo div{
    padding-bottom: 5px;
}



/*This is for the About page*/

#how{
    text-align: center;
}


#step1 img{
    width: 30%;
    height: 30%;
}


#step2 img{
    width: 60%;
    height: 60%;
}

#pic {
    text-align: center;
}

#step3 img{
    width: 40%;
    height: 40%;
}

#step4 img{
    width: 40%;
    height: 40%;
}

#step5a img{
    width: 60%;
    height: 60%;
}

#step5b img{
    width: 60%;
    height: 60%;
}

#step5c img{
    width: 60%;
    height: 60%;
}

#step5d img{
     width: 40%;
     height: 40%;
}

#step6 img{
    width: 40%;
    height: 40%;
}
/* End about page */

#loggedIn {
    background: #BCD9F3;
}
