<template name="home">
    <div class="home">
        <div class="jumbotron">
            <div class="container">
                <div class="col-md-4" id="mainImg">
                    <img class="col-md-4" src="img/familyTree.jpg" />
                </div>
                <div>
                    <h1>Family Health Share</h1>
                    <p>A social application where families can share their health history</p>
                    <p>Register today, and get started with your family health awareness journey!</p>
                </div>
            </div>
        </div>
    </div>
</template>