<template name="login">
    <form role="form" id="login-form" action="action">
        <div class="form-group">
            <label for="userName">Username:</label>
            <input type="text" class="form-control" id="userName" placeholder="Enter your Email" required>
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd" placeholder="Password" required>
        </div>
        <div class="form-group">
            <p><button type="submit" id="login-button" class="btn btn-primary">Login</button></p>
            <a href="{{pathFor 'login'}}">Create Account</a>
        </div>
    </form>
</template>
