<!--  The loginButtons template is provided, it is a library that was downloaded-->

<template name="header">
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{pathFor 'home'}}">Family Health Share</a>
        </div>
        <div class="collapse navbar-collapse" id="navigation">
            <ul class="nav navbar-nav">
                <li><a href="{{pathFor 'home'}}">Home</a></li>
                <li><a href="{{pathFor 'about'}}">About</a></li>
                {{#if currentUser}}
                    <li><a href="{{pathFor 'profile'}}">Profile</a></li>
                    <li><a href="{{pathFor 'family'}}">Family</a></li>
                {{/if}}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {{> loginButtons}}
            </ul>
        </div>
    </nav>
</template>

